<!DOCTYPE hmtl>
<html lang="en" dir="ltr">
    <head>
        
            <meta name="viewport" content="width=device-width, initial scale=1.0">
            <title>{{title}}</title>
            <link rel ="stylesheet" href ="/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        </head>
    <body>
        <header>
       <nav>
           <label class="logo">South Indian Cuisine</label>
           <ul>
               <li><a href="/">Home</a> </li>
               <li><a href="/prolisting">Meal Packages</a> </li>
               <li><a href="/customer">Customer Registration</a> </li>
               <li><a href="/login">Login</a></li>

            </ul>
       </nav> 
       </header>
       <main>{{{body}}}
    </main>
</body>
       
<div class="cendiv">
<center>  <h1>Contact Us</h1>
     <p id="a">southindiancuisine1@gmail.com</p> </center>

		<a href="https://twitter.com" class="fa fa-twitter"></a>
		<a href="https://facebook.com" class="fa fa-facebook"></a>
		<a href="https://youtube.com" class="fa fa-youtube"></a>
		<a href="https://instagram.com" class="fa fa-instagram"></a>
   </div>

  <style>
      a{
          color: #55ACEE;
      }
			.fa {  
			  width: 25px;
			  padding: 20px;
			  font-size: 25px;
			  text-align: center;
			  text-decoration: none;
			  margin: 5px 2px;
			  color: white;
			  border-radius: 50%; 
			}

			.fa:hover {
				opacity: 0.7;
			}

			.fa-facebook {
			  background: #3B5998;
			}

			.fa-twitter {
			  background: #55ACEE;
			}


			.fa-youtube {
			  background: #bb0000;
			}

			.fa-instagram {
			  background: #8a3ab9;
			}

			
            </style>
</html>