<!DOCTYPE hmtl>
<html lang="en" dir="ltr">
    <head>
        
            <meta name="viewport" content="width=device-width, initial scale=1.0">
            <title>{{title}}</title>
            <link rel ="stylesheet" href ="/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        </head>
    <body>
        <header>
       <nav>
           <label class="logo">South Indian Cuisine</label>
           <ul>
               <li><a href="/">Home</a> </li>
               <li><a href="/prolisting">Meal Packages</a> </li>
               <li><a href="/customer">Customer Registration</a> </li>
               <li><a href="/login">Login</a></li>

            </ul>
       </nav> 
       </header>
       <main>{{{body}}}
    </main>
</body>
       
<div class="cendiv">
<center>  <h1>Contact Us</h1>
     <p style="color:chocolate; font-size:30px;      ">southindiancuisine1@gmail.com</p> </center>
<div class="cendiv container-fluid">
    <div class="row justify-content-center align-self-center">
        <a class="col-md-1"  title="Facebook" href="https://facebook.com"><i style="padding: 15px;" class="fa  fa-2x fa-facebook"></i></a>
        <a class="col-md-1"  title="Instagram" href="https://instagram.com"><i style="padding: 15px;" class="fa fa-2x fa-instagram"></i></a>
        <a class="col-md-1"  title="Twitter" href="https://twitter.com"><i style="padding: 15px;" class="fa fa-2x fa-twitter" ></i></a>
        <a class="col-md-1"  title="YouTube" href="https://youtube.com"><i style="padding: 15px;" class="fa fa-2x fa-youtube-play"></i></a>
   </div>
		

			

</html>