<!DOCTYPE html>
<html>
<body>

<h>Thankyou for your Registration</h>
<p>Welcome to the South Indian Cuisine</p>
<p>We are looking forward to serve you the best</p>
  <div style="background-image: url('dosa.jpg');">  
</body>

<style>
    h{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: antiquewhite;
    }
    p1{
font-size: 45px;
color: brown;
    }
</style>
</html>
